.land-container{
    height: 100vh;
    width: 100%;
    background-color: var(--bg);
    padding: 1.5rem;
}
.main-bar{
    background-color: var(--main-top-bar);
    border-radius: 15px;
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.main-search{
    outline: none;
    border: none;
    background-color: var(--search-nav);
    height: 3rem;
    width: 80%;
    border-radius: 50px;
    padding-left: 2rem;
    position: absolute;
    top: 21.5%;
    font-size: var(--normal-font-size);
}
.main-search:focus{
    background-color: var(--nav-hover);
}
.main-tabs{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3rem;
}

.main-tabs div{
    background-color: var(--search-nav);
    padding: 0.5rem 5rem 0.5rem 5rem;
    border-radius: 10px;
    font-size: var(--normal-font-size);
    color:var(--nav-text);
    cursor: pointer;
}
.main-tabs div:hover{
    background-color: var(--nav-hover);
}
.taskbar{
    height: calc(100vh - 45vh);
    width: 100%;
    background-color: var(--main-top-bar);
    margin-top: 1rem;
    border-radius: 15px;
    padding: 2rem;
    overflow-y: scroll;
    
}
.taskbar>h3{
    color: var(--text-side);
}
.task-list{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    
}
.task-list>div>div>div{
    display: flex;
    justify-content: space-between;
}
.task-list>div>div:first-child{
    width: 100%;
}
.task-list>div>div:nth-child(2){
    width: 0.8%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.task-list>div{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    background-color: var(--search-nav);
    margin-bottom: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0rem 0rem 0rem 2rem;
}

.task-list h3{
    margin: 10px 0px 10px 0px;
    
}
.task-list p{
    margin: 10px 0px 10px 0px;
}

.taskbar::-webkit-scrollbar {
    width: 12px; 
  }
  
  .taskbar::-webkit-scrollbar-track {
    background-color: var(--main-top-bar);
  }
  
  .taskbar::-webkit-scrollbar-thumb {
    background-color: var(--search-nav); 
    border-radius: 6px; 
  }