.nav-container{
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--top-side-bar);
    color: var(--logo);
    font-size: var(--h2-font-size);
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.nav-container>h2{
    font-weight: 600;
}
.nav-icon-container{
    display: flex;
    gap:5rem;
}