:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg:#dfdfdf;
  --top-side-bar:#f0f8ff;
  --main-top-bar:#f0f8ff;
  --search-nav:#d7e8fa;
  --nav-hover: #8498ff;
  --completed: #5dfd5d;
  --progress: #ffed4f;
  --yettostart: #ff8080;
  --nav-text: #1B0ab4;
  --logo:#6d82d2 ;
  --task-description-bg: #a7d0ff;
  --goal-icon: #2b2323;
  --text-area:#c9d4f7 ;
  --text-side: #a2a9cc;
  --text-color:#000000 ;
  --cancel-btn: #f8cfcf;
  --cancel-text: #ba2828;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
}
body .dark{
  --bg:#070D27;
  --top-side-bar:#111633;
  --main-top-bar:#1D213E;
  --search-nav:#A2ADE5;
  --nav-hover: #8498FF;
  --completed: #008A00;
  --progress: #D4BF00;
  --yettostart: #C70000;
  --nav-text: #1B0A84;
  --logo: #6D82D2;
  --task-description-bg: #4C58B1;
  --goal-icon: #2b2323;
  --text-area: #c0cffd;
  --text-side: #7384de;
  --text-color: #000000;
  --cancel-btn: #f8cfcf;
  --cancel-text: #ba2828;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
