/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*========= Colors ===========*/
  --bg:#dfdfdf;
  --top-side-bar:#f0f8ff;
  --main-top-bar:#f0f8ff;
  --search-nav:#d7e8fa;
  --nav-hover: #8498ff;
  --completed: #5dfd5d;
  --progress: #ffed4f;
  --yettostart: #ff8080;
  --nav-text: #1B0ab4;
  --logo:#6d82d2 ;
  --task-description-bg: #a7d0ff;
  --goal-icon: #2b2323;
  --text-area:#c9d4f7 ;
  --text-side: #a2a9cc;
  --text-color:#000000 ;
  --cancel-btn: #f8cfcf;
  --cancel-text: #ba2828;
/* ======= Font size ======= */
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .950rem;
  --smaller-font-size: .75rem;
  /*===== Margins =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
h1,
h2,h3,h4,h5,h6,
p{
  margin: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
body.dark{
  --bg:#070D27;
  --top-side-bar:#111633;
  --main-top-bar:#1D213E;
  --search-nav:#A2ADE5;
  --nav-hover: #8498FF;
  --completed: #008A00;
  --progress: #D4BF00;
  --yettostart: #C70000;
  --nav-text: #1B0A84;
  --logo: #6D82D2;
  --task-description-bg: #4C58B1;
  --goal-icon: #2b2323;
  --text-area: #c0cffd;
  --text-side: #7384de;
  --text-color: #000000;
  --cancel-btn: #f8cfcf;
  --cancel-text: #ba2828;
}

.sub-container{
  padding-left: 2rem;
  background-color: var(--top-side-bar);
}
.dark-mode-toggle{
  margin-top: 0px;
}